@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff") format("woff"), url("../fonts/Roboto.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/robotobold.woff") format("woff"), url("../fonts/robotobold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/robotomedium.woff") format("woff"), url("../fonts/robotomedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body > input {
  display: none; }

.content-wraper {
  background-repeat: no-repeat;
  background-position: center top; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.btn {
  display: block;
  font-family: "RobotoBold";
  color: #ffffff;
  text-decoration: none;
  background-image: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  background-image: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  background-image: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); }

.main-header {
  padding-left: 2.2%;
  padding-right: 2.2%;
  min-width: 95.6%;
  max-height: 73px; }

.logo {
  float: left;
  width: 154px;
  min-height: 64px;
  margin-left: -5px;
  margin-right: 16px;
  padding-top: 9px; }

.main-nav {
  position: relative;
  min-width: 409px;
  float: left;
  padding-top: 23px; }

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0; }

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px; }

.main-nav__link {
  display: block;
  padding: 7px 14px;
  margin-bottom: 4px;
  color: #ffffff;
  font-family: "RobotoBold";
  text-decoration: none; }
  .main-nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2); }
  .main-nav__link:hover {
    color: #323232;
    background-color: #f7f6f3;
    border-radius: 16px; }
  .main-nav__link:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 2px 0 #696969; }

.sub-menu {
  position: absolute;
  left: -8px;
  padding: 5px 0;
  display: none;
  min-width: 143px;
  min-height: 171px;
  margin: 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 6px; }

.main-nav__item:hover .sub-menu {
  display: block; }

.sub-menu__title {
  display: block;
  padding: 11px 0 11px 21px;
  font-family: "RobotoBold";
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid rgba(53, 53, 53, 0.2); }

.sub-menu__link {
  display: block;
  padding: 10px 0 10px 21px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none; }
  .sub-menu__link:hover {
    background-color: #fbded7; }
  .sub-menu__link:active {
    background-color: #f6b5a5; }

.user-panel {
  float: right;
  padding-top: 23px; }

.user-panel__btn {
  display: block;
  padding-top: 9px;
  height: 33px;
  font-family: "RobotoMedium";
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center; }
  .user-panel__btn:hover {
    background-color: #f8f7f4;
    color: #323232; }

.user-panel__search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px; }

.user-panel__btn--search {
  width: 33px;
  margin-bottom: 4px;
  border-radius: 50%;
  margin-right: -4px;
  background-image: url(../img/user-panel-search.png); }
  .user-panel__btn--search:hover {
    background-image: url(../img/user-panel-search-click.png); }

.search-form {
  position: absolute;
  left: -308px;
  padding: 20px 15px;
  width: 341px;
  height: 83px;
  display: none;
  background-color: #f8f7f4;
  border-radius: 6px; }

.search-form__input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 4px; }
  .search-form__input::-webkit-input-placeholder {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 24px;
    color: #999999; }

.user-panel__search:hover .search-form {
  display: block; }

.user-panel__login {
  display: inline-block;
  vertical-align: top; }

.user-panel__btn--login {
  width: 93px;
  padding-left: 44px;
  border-radius: 16px;
  background-image: url(../img/user-panel-login.png);
  background-position: 15px; }
  .user-panel__btn--login:hover {
    background-image: url(../img/user-panel-login-click.png); }

.user-panel__basket {
  display: inline-block;
  vertical-align: top; }

.user-panel__btn--basket {
  width: 117px;
  padding-left: 44px;
  border-radius: 16px;
  margin-left: 5px;
  background-image: url(../img/user-panel-basket.png);
  background-position: 15px; }
  .user-panel__btn--basket:hover {
    background-image: url(../img/user-panel-basket-click.png); }

.open-time {
  float: right;
  width: 267px;
  text-align: right; }

.open-time__time {
  margin: -4px 0 0 0;
  font-family: "RobotoBold";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff; }

.open-time__phone {
  display: block;
  margin-top: 4px;
  font-family: "RobotoBold";
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none; }

.slider {
  padding-left: 2.2%;
  padding-right: 2.2%;
  min-width: 95.6%; }

.slide {
  padding-top: 315px;
  text-align: center; }

.slider__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 36px;
  text-align: center;
  font-family: "RobotoBold";
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff; }

.slider-btn {
  margin: 0 auto;
  padding-top: 7px;
  width: 280px;
  height: 64px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 32px; }

.slider-control {
  position: relative;
  left: -530px;
  top: -45px; }

.slider-control__label {
  display: inline-block;
  margin-right: 4px;
  width: 21px;
  height: 21px;
  border: 2px solid white;
  border-radius: 50%; }
  .slider-control__label:hover {
    background-color: rgba(255, 255, 255, 0.4); }

.slider__item--first-slide {
  display: none; }

.slider__item--second-slide {
  display: none; }

.slider__item--third-slide {
  display: none; }

#slide-1:checked ~ .content-wraper label[for="slide-1"],
#slide-2:checked ~ .content-wraper label[for="slide-2"],
#slide-3:checked ~ .content-wraper label[for="slide-3"] {
  background-color: #ffffff; }

#slide-1:checked ~ .content-wraper .slider__item--first-slide,
#slide-2:checked ~ .content-wraper .slider__item--second-slide,
#slide-3:checked ~ .content-wraper .slider__item--third-slide {
  display: block; }

#slide-1:checked ~ .content-wraper {
  background-color: #849d8f;
  background-image: url(../img/background-slide-1.png); }

#slide-2:checked ~ .content-wraper {
  background-color: #8996a6;
  background-image: url(../img/background-slide-2.png); }

#slide-3:checked ~ .content-wraper {
  background-color: #9d8b84;
  background-image: url(../img/background-slide-3.png); }
