@import "global/_mixins";
@import "global/_variables";
@import "global/_fonts";

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

.content-wraper {
  background-color: #849d8f;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
