.main-header {
  padding-left: 2.2%;
  padding-right: 2.2%;
  min-width: 95.6%;
  max-height: 73px;
}

.logo {
  float: left;
  width: 154px;
  min-height: 64px;
  margin-left: -5px;
  margin-right: 16px;
  padding-top: 9px;
}

.main-nav {
  width: 409px;
  float: left;
  padding-top: 23px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
}

.main-nav__link {
  display: block;
  padding: 7px 14px;
  color: #ffffff;
  font-family: "RobotoBold";
  text-decoration: none;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:hover {
    color: #323232;
    background-color: #f7f6f3;
    border-radius: 16px;
  }
}

.user-panel {
  float: right;
  padding-top: 23px;
}

.user-panel__btn {
  display: block;
  padding-top: 9px;
  height: 33px;
  font-family: "RobotoMedium";
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center;

}

.user-panel__search {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.user-panel__btn--search {
  width: 33px;
  border-radius: 50%;
  margin-right: -4px;
  background-image: url(../img/user-panel-search.png);
}

.user-panel__login {
  display: inline-block;
  vertical-align: top;
}

.user-panel__btn--login {
  width: 93px;
  padding-left: 44px;
  border-radius: 16px;

  background-image: url(../img/user-panel-login.png);
  background-position: 15px;
}

.user-panel__basket {
  display: inline-block;
  vertical-align: top;
}

.user-panel__btn--basket {
  width: 117px;
  padding-left: 44px;
  border-radius: 16px;
  margin-left: 5px;
  background-image: url(../img/user-panel-basket.png);
  background-position: 15px;
}

.open-time {
  float: right;
  width: 267px;
  text-align: right;
}

.open-time__time {
  margin: -4px 0 0 0;
  font-family: "RobotoBold";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.open-time__phone {
  display: block;
  margin-top: 4px;
  font-family: "RobotoBold";
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
